services:
  rust-app:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: dev
    container_name: rust-dev
    volumes:
      - .:/app
      - ./databases.json:/config/config.json
      #      - ./databases.toml:/config/config.toml
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git
    environment:
      APP_ENV: development
      LOG: debug
      TZ: "Europe/Paris"
      EDGE_KEY: "eyJzZXJ2ZXJVcmwiOiJodHRwOi8vbG9jYWxob3N0Ojg4ODciLCJhZ2VudElkIjoiMDEwZTM2MTQtNmMxMy00ZDMwLWE4YTItOTZjNjUyN2JmYzM3IiwicHVibGljS2V5IjoiLS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tXG5NSUlCQ2dLQ0FRRUE5TWV4M2pmdnVLdFB5YU1ERnh2Ulp2dmd3YkRJQ2JzQi81Wll5NDNSVVRBaXZRYjJiSDdYXG5qRHBQd1lJeCs4UFBrbHlRbDVMQzV1UWZEaCs4SVd4OG1LZ3FvMXpWMkdiZXdGbEdEWFYxVEdyU1ZEU25aSWR4XG52bWdYc29EeXhVMlJvWUFUMS9YMWxuc2YxenZKdkFMTkhXdEhRdk42SjVDZTFSMmFsendVRGFEVXlJNzRmSldQXG5tNTh0SDMrYklXL0VVTXdjaWNxM0oySWw3Vm9KNkZNUHJQL1ZSOWEvdFF1SU1qa200MXpFY2NscExPa2luRkxuXG54NmVUWkFSZUpya2UrbnRvZ2t4TGEyRWV5a1lUNzB4V3hKNWp5ZExBVnRvNkkyQlVLVVJoTkowTUFaU29NYUtvXG5iMGJRcnY1UzExZWllMnMrT2I3aTYzSFpkVUx0UmV1MVJ3SURBUUFCXG4tLS0tLUVORCBSU0EgUFVCTElDIEtFWS0tLS0tXG4ifQ"
      #POOLING: 1
      #DATABASES_CONFIG_FILE: "config.toml"
    extra_hosts:
      - "localhost:host-gateway"
    networks:
      - portabase

  db:
    image: postgres:17-alpine
    ports:
      - "5436:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme
    networks:
      - portabase

  db2:
    image: mariadb:latest
    ports:
      - "3311:3306"
    environment:
      - MYSQL_DATABASE=mariadb
      - MYSQL_USER=mariadb
      - MYSQL_PASSWORD=changeme
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - portabase


  mongodb-auth:
    image: mongo:8.2.3-noble
    ports:
      - "27082:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: testdbauth
    command: mongod --auth
    networks:
      - portabase
    volumes:
      - mongodb-data-auth:/data/db
#    healthcheck:
#      test: ["CMD", "mongosh", "-u", "root", "-p", "rootpassword", "--authenticationDatabase", "admin", "--eval", "db.adminCommand('ping')"]
#      interval: 5s
#      timeout: 5s
#      retries: 10

#  mongodb:
#    image: mongo:latest
#    container_name: mongodb
#    ports:
#      - "27083:27017"
#    volumes:
#      - mongodb-data:/data/db
#    healthcheck:
#      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
#      interval: 5s
#      timeout: 5s
#      retries: 10
#    environment:
#      MONGO_INITDB_DATABASE: testdb

volumes:
  cargo-registry:
  cargo-git:

  postgres-data:
  mariadb-data:
#  mongodb-data:
  mongodb-data-auth:

networks:
  portabase:
    name: portabase_network
    external: true