services:
  rust-app:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: dev
#    platform: linux/arm64
    container_name: rust-dev
    volumes:
      - .:/app
      - ./databases.json:/config/config.json
      #      - ./databases.toml:/config/config.toml
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git
      - cargo-target:/app/target
    environment:
      APP_ENV: development
      LOG: debug
      TZ: "Europe/Paris"
      EDGE_KEY: "eyJzZXJ2ZXJVcmwiOiJodHRwOi8vbG9jYWxob3N0Ojg4ODciLCJhZ2VudElkIjoiNjc4M2QwY2UtNjY1MS00YzM0LTg4YjYtNDhmMmU5YWQ3NGNhIiwicHVibGljS2V5IjoiLS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tXG5NSUlCQ2dLQ0FRRUFybjR5bk9OUUwzMGZITERBTjRuNGN4OTNkOHZSTVBzaVYyY2xSU1lDWkNHYnlqakhURW5mXG52dzQ5V1ltS0w3STJJK1dLa00wOEMvQ0NISVlMOE13WSsyNjNnN1dmcjJsQzdIOTFQOTFTK1ZtcCtuREZxVGM5XG45VEZiNXpwb09yaXNZQ3o4M2VLeTV1Q3ZCWXpMODhicmhXNVBlU0VPN3R4SFZBaEp3aWVMWU1JTjJvdTBzWFFiXG5DQ200T3FjRGJBeCs1WmNZVjBPM2NTMjlvNWxaYlV4ZHdxcHl6bjFCSnRETXErYS9tVjFDekxBeGNMd0llNW1WXG5LalBjM01EQ3NvcGJ5czhqcFQ2eFcvSGd5b0c0MkhnL0g3RDdKK21BYlRKZ2JyVGVLdkdaQ1dzMDZGR0hrK1RFXG5RdExwOUprR1lhenVDVFF4TlIvTUU0ejFlNGFrOGsxNmlRSURBUUFCXG4tLS0tLUVORCBSU0EgUFVCTElDIEtFWS0tLS0tXG4ifQ"
      #POOLING: 1
      #DATABASES_CONFIG_FILE: "config.toml"
    extra_hosts:
      - "localhost:host-gateway"
    networks:
      - portabase

#  db-postgres:
#    container_name: db-postgres
#    image: postgres:17-alpine
#    ports:
#      - "5436:5432"
#    volumes:
#      - postgres-data:/var/lib/postgresql/data
#    environment:
#      - POSTGRES_DB=devdb
#      - POSTGRES_USER=devuser
#      - POSTGRES_PASSWORD=changeme
#    networks:
#      - portabase
#
#  db-mariadb:
#    container_name: db-mariadb
#    image: mariadb:latest
#    ports:
#      - "3311:3306"
#    environment:
#      - MYSQL_DATABASE=mariadb
#      - MYSQL_USER=mariadb
#      - MYSQL_PASSWORD=changeme
#      - MYSQL_RANDOM_ROOT_PASSWORD=yes
#    volumes:
#      - mariadb-data:/var/lib/mysql
#    networks:
#      - portabase


  db-mongodb-auth:
    container_name: db-mongodb-auth
    image: mongo:latest
    ports:
      - "27082:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: testdbauth
    command: mongod --auth
    networks:
      - portabase
    volumes:
      - mongodb-data-auth:/data/db
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 10

  db-mongodb:
    container_name: db-mongodb
    image: mongo:latest
    ports:
      - "27083:27017"
    volumes:
      - mongodb-data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      MONGO_INITDB_DATABASE: testdb
    networks:
      - portabase

volumes:
  cargo-registry:
  cargo-git:
  cargo-target:


#  postgres-data:
#  mariadb-data:
  mongodb-data:
  mongodb-data-auth:

networks:
  portabase:
    name: portabase_network
    external: true

# docker network create portabase_network