name: Docker Publish

on:
  workflow_call:
    inputs:
      image_name:
        required: false
        type: string
        default: 'portabase/agent'
      add_latest:
        required: false
        type: boolean
        default: false
      target:
        required: false
        type: string
        default: 'prod'
      dockerfile:
        required: false
        type: string
        default: './docker/Dockerfile'
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU (multi-arch support)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set tags
        id: set-tags
        run: |
          REF_NAME=${GITHUB_REF#refs/tags/}
          TAGS="${{ inputs.image_name }}:$REF_NAME"
          if [[ "${{ inputs.add_latest }}" == "true" ]]; then
            TAGS="$TAGS,${{ inputs.image_name }}:latest"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build amd64 image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          platforms: linux/amd64
          push: true
          tags: ${{ inputs.image_name }}:amd64
          target: ${{ inputs.target }}
          cache-from: type=registry,ref=${{ inputs.image_name }}:buildcache-amd64
          cache-to: type=registry,ref=${{ inputs.image_name }}:buildcache-amd64,mode=max

      - name: Build arm64 image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          platforms: linux/arm64
          push: true
          tags: ${{ inputs.image_name }}:arm64
          target: ${{ inputs.target }}
          cache-from: type=registry,ref=${{ inputs.image_name }}:buildcache-arm64
          cache-to: type=registry,ref=${{ inputs.image_name }}:buildcache-arm64,mode=max

      - name: Create and push multi-arch manifest
        run: |
          REF_NAME=${GITHUB_REF#refs/tags/}
          docker manifest create ${{ inputs.image_name }}:$REF_NAME \
            --amend ${{ inputs.image_name }}:amd64 \
            --amend ${{ inputs.image_name }}:arm64
          docker manifest push ${{ inputs.image_name }}:$REF_NAME
          if [[ "${{ inputs.add_latest }}" == "true" ]]; then
            docker manifest create ${{ inputs.image_name }}:latest \
              --amend ${{ inputs.image_name }}:amd64 \
              --amend ${{ inputs.image_name }}:arm64
            docker manifest push ${{ inputs.image_name }}:latest
          fi
